{% load static %}
<div class="container-fluid pie-de-pagina py-3" style="background-color: #000;">
  <footer class="text-center" style="background-color: #000;"> 

      <div>
          <a href="http://instagram.com/" style="color:#fff">
              <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="http://facebook.com/" style="color:#fff">
              <i class="fa-brands fa-facebook"  ></i>
          </a>
          <a href="http://pinterest.com/" style="color:#fff">
              <i class="fa-brands fa-pinterest" ></i>
          </a> 
      </div>

      <div class="creadopor" style="color:#fff">
          <p>Creado por Valentina Cifras para Desafio Latam 2024 </p> 
      </div>
      
  </footer> 
</div>