{% load static %}

<nav class="navbar navbar-expand-lg" style="background-color: #2e5240;"">
  <div class="container">
    <a class="navbar-brand" src href=""><img src="{% static 'logo2.png'%}" alt="logo" height="100px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto" id="text-nav">
        <li class="nav-item ">
          <a class="nav-link text-light" href="{% url 'home' %}">Inicio</a>
        </li>
        {% if user.is_authenticated%}
        <li class="nav-item">
          <a class="nav-link text-light" href="">Bienvenido</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link text-light" >Acerca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" >Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'register' %}">Registrate</a>
        </li>

        {% if user.is_authenticated%}
        <li class="nav-item">
          <a type="button" class="btn btn-outline-success text-light" href="{% url 'logout' %}">Cerrar Sesión</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a type="button" class="btn btn-outline-success text-light" href="{% url 'login' %}">Iniciar Sesión</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

