{% extends 'base.html' %}


{% block content %}

<div class="container text-center py-3">
    <div class="col">
        <h1> Perfil {{user.username}} </h1>
        <p> 
        {% if not perfil %}
            
        <h3>No se encontro un perfil   </h3>
        <a href="{% url 'register_profile' %}" class="btn btn-success mx-2">Crear Perfil</a>
        {% else %}

        <div>
            <p>
                Nombre: {{user.first_name}}
            </p>
            <p>
                Tipo : {{perfil.tipo_usuario}}
            </p>
            <p>
                RUT: {{perfil.rut}}
            </p>
            <p>
                Direccion: {{perfil.direccion}}
            </p>
            <p>
                Telefono: {{perfil.telefono}}
            </p>
            <p>
                Correo: {{perfil.correo}}
            </p>
        </div>
        <a href="{% url 'update_profile' %}" class="btn btn-success ">Actualizar Perfil</a>
            
        {% endif %}
        </p>

    </div>
</div>




{% endblock content %}