{% extends 'base.html' %}
{% block content %}
<div class="container p-5">
    <section class="container p-4" id="acerca">

        <h1 class="text-center" id="Nosotros">Nosotros</h1>
        <p class="text-center">Bienvenido a Rent your home, tu portal inmobiliario de confianza
            para encontrar el espacio perfecto que se adapte a tu estilo de vida. Con una amplia gama de
            propiedades disponibles para arrendar en ubicaciones privilegiadas de todo el mundo, estamos aquí
            para hacer que tu búsqueda de hogar sea más fácil y emocionante que nunca.

            En Rent your home, entendemos que cada persona tiene necesidades únicas cuando se trata de encontrar
            un lugar para vivir o trabajar. Es por eso que ofrecemos una variedad de opciones, desde acogedores
            apartamentos urbanos hasta espaciosas casas suburbanas. Nuestro objetivo es ayudarte a encontrar el espacio
            que se sienta como en casa desde el momento en
            que lo ves.

            Ya sea que estés buscando un lugar para vivir, trabajar o invertir, Rent your home es tu socio
            confiable en el mercado inmobiliario. Únete a nuestra comunidad hoy mismo y comienza a descubrir
            las infinitas posibilidades que te esperan.

        </p>
    </section>

</div>



{% endblock content %}